<h1>Episode Show Page</h1>
Date: <%= @episode.date %><br>

Average Rating:
<%= @average_rating.sum / @average_rating.length %>

<ul>

<% @episode.guests.each do |g| %>
  Guests on this episode:
  <li><%= link_to g.name, guest_path(g) %></li>
<% end %>

</ul>
